.start {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 24px;
    margin: 20px;
    font-size: 48px;
    background-color: #32a891;
}
.photo{
    width: 97%;
    height: 97%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}



.link{
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    padding: 10px;
    margin: 20px;
    font-size: 18px;
}

#notme{
    text-align: center;
    font-size: 66px;
    background-color: lightblue;
    padding: 50px;
    margin: 50px;

}

.text{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding: 10px;
    margin: 50px;
    font-size: 50px;
}

#facts{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding: 10px;
    margin: 10px;
    font-size: 36px;
}

.container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 0; /* Remove any default margins */
    padding-left: 15px; /* Optional padding for spacing */
    padding-right: 15px; /* Optional padding for spacing */
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.small{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

